Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
UnityVLC.csproj
UnityVLC.Plugins.csproj
UnityVLC.sln
.vs/
.vscode/
Library/
Temp/
obj/
Assets/StreamingAssets/
UnityPackageManager/
UnityVLC.Editor.csproj
Assembly-CSharp-Editor.csproj
Logs/
