Assembly-CSharp.csproj
Assembly-CSharp-firstpass.csproj
UnityVLC.csproj
UnityVLC.Plugins.csproj
UnityVLC.sln
.vs/
.vscode/
Library/
Temp/
obj/
Assets/StreamingAssets/
UnityPackageManager/
UnityVLC.Editor.csproj
Assembly-CSharp-Editor.csproj
Logs/
.vsconfig
Assets/Plugins/x86_64/plugins/plugins.dat
Assets/Plugins/x86_64/plugins/plugins.dat.meta
UserSettings/Layouts/default-2021.dwlt
