.vs/
.vscode/
Library/
Temp/
obj/
Assets/StreamingAssets/
UnityPackageManager/
Logs/
.vsconfig
Assets/Plugins/x86_64/plugins/plugins.dat
Assets/Plugins/x86_64/plugins/plugins.dat.meta
*.csproj
*.sln
*.dwlt
